
<!-- BEGIN BREADCRUMBS -->
<div class="breadcrumbs">
  <h1>Dashboard</h1>
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Dashboard</a></li>
    <li class="active">Overview</li>
  </ol>
</div>
<!-- END BREADCRUMBS -->

<p><%=   @hello %></p>
